.custom-navbar{
    background-color:#4d4843;
    margin-left:auto ;
    
}
.background-accent{
    background-color: #FFF8E7;
    background-size:cover;
    height:auto;
}
.background-herosection {
    background-image: url("https://media.istockphoto.com/id/1307553426/photo/food-ingredients-for-cooking-italian-pasta.jpg?s=170667a&w=0&k=20&c=wv82sCcmN820YMtcV4XVls50idzNaBuP1s6a5htA674=");
    background-size: cover;
    height: 45vh;
    width:100vw;
    position: relative;

}
.glass-card {
    background: rgba(184, 109, 23, 0.15);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(5px);

    border: 1px solid rgba(255,255,255,0.2);

    border-radius: 20px;
    padding: 40px;
}
.img-png{
    background-color: transparent;
    width: 90px;
    height: 50px;
}
.main-heading{
    font-family: "Pacifico";
    font-size: 50px;
    padding-top: 85px;
    padding-left:42px;
    padding-bottom:30px;
    color:#FFF8E7
}
.title-1{
    font-family: "Poppins SemiBold";
    font-size: 35px;
    color:#7C2D12;
    margin: 20px;

}
.card-img{
    width:286px;
    height:210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.recipe-card{
    border-radius:20px;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 18rem;
    background-color: bisque;
    
}
.recipe-card2{
    border-radius:20px;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 18rem;
    background-color:khaki;
    
}
.card-recipe-content{
    text-align: center;
    padding: 3px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.know-recipe-button{
    background:#D97706;
    color:white;
    border:none;
    border-radius:8px;
    padding: 7px;
}

.modals{
    text-align: left;
}
.slider{
    width: 350px;
    margin:auto;
    overflow: hidden;
   
}
.slider-border{
    border-radius: 10px;
    border-color: bisque;
    border-style: solid;
    overflow: hidden;
    
}
.fit{
    object-fit: cover;
    width: 300px;
    height: 400px;
    overflow: hidden;
}